.top-page
  .top-page__logo
    = image_tag 'icon.png', class: 'top-page-icon'
  %h1.top-page__logo-font
    STUDY
    %span.top-page__logo-font--color POST
  %div
    -if user_signed_in?
      = link_to "/users/#{current_user.id}", class: "mypage-link" do
        %span.mypage マイページ
      %div
      = link_to "ログアウト", "/users/sign_out", class: "logout-link"
    -else
      = link_to "ログイン", "/users/sign_in", class: "login-link"
      %div
        = link_to "/users/sign_up", class: "signup-link" do
          %span.signup 新規登録
