= render '/header'
.myPage
  .myPage__left-contents
    %h2.myPage-title 学習記録
    .myPage__post-list
      - @posts.each do |post|
        .myPage__post
          .myPage__post-date
            = post.learning_date
          = link_to post_path(post) do
            .myPage__post-title
              = post.title
  .myPage__right-content
    .icon-box
      - if @user.avatar.present?
        = image_tag @user.avatar.url, class: "icon"
      - else
        = image_tag "no-image.png", class: "icon"
    .myPage__user-info
      = @user.name
    %section.stats
      = render '/relationships/states'
    = render '/relationships/follow_form'
    .study_total
      %p 総学習
      %p.study_total_value
        = @study_total
      %p 時間

  :javascript
    calendar_print();

