.form-style
  .form-style-heading 学習記録
  = form_for post do |f|
    %label
      %span
        タイトル
        %span.required *
      = f.text_field :title, type: :text, class: "input input-field", placeholder: "HTML&CSSを中心に学習！"
      - post.errors.full_messages_for(:title).each do |message|
        .validation-error-mesage
          = message
    %label
      %span
        学習日
        %span.required *
      = f.number_field :studied_at, class: 'input date-field', placeholder: "20190101(8桁入力)"
      - post.errors.full_messages_for(:studied_at).each do |message|
        .validation-error-mesage
          = message
    %label
      %span
        学習時間
        %span.required *
      = f.number_field :study_time, min: 0, max: 23, class: 'input time-field'
      %p.time-space :
      = f.number_field :study_minutes, min: 0, max: 59, class: 'input time-field'
      - post.errors.full_messages_for(:study_time).each do |message|
        .validation-error-mesage
          = message
      - post.errors.full_messages_for(:study_minutes).each do |message|
        .validation-error-mesage
          = message
    %label
      %span
        学習方法
        %span.required *
      = f.text_area :study_method, type: :text, class: "textarea textarea-field", placeholder: "1時間ごとに学習したことを15分でアウトプットした"
      - post.errors.full_messages_for(:study_method).each do |message|
        .validation-error-mesage
          = message
    %label
      %span
        学習内容
        %span.required *
      = f.text_area :content, type: :text, class: "textarea textarea-field", placeholder: "レスポンシブWebデザインの基礎知識、CSSで円を描く方法"
      - post.errors.full_messages_for(:content).each do |message|
        .validation-error-mesage
          = message
    %label
      %span
        反省点
      = f.text_area :reflection, type: :text, class: "textarea textarea-field", placeholder: "集中力が続かず、手が止まっていることがあったため、次回からは長時間学習する時は休憩をこまめに取りたい"
    %label
      %span
        次回学習内容
      = f.text_area :next_study, type: :text, class: "textarea textarea-field", placeholder: "レスポンシブWebデザインを対応させる、CSSで中央寄せする方法"
    %label
      %span
        その他
      = f.text_area :other, type: :text, class: "textarea textarea-field", placeholder: "あと少しでWebサイトが完成しそうだから頑張る"

    %button.input{name: "action", type: "submit"} 送信
