%header.header
  = link_to root_path do
    %h1.header-logo
      STUDY
      %span.header-logo-color POST
  = link_to new_post_path , class: "header-postButton" do
    %p.header-postButton-font 投稿する

  = search_form_for @search, url:users_path do |f|
    = f.text_field :name_cont, class: "search_form-input", placeholder: "ユーザー名を入力"
    = button_tag type: 'submit', class: "search_form-button" do
      = icon("fa","search")

  .header-nav
    %nav.header-nav-user
      %ul.header-nav-user-box
        %li.header-user
          - if current_user.avatar.present?
            = image_tag current_user.avatar.url, class: "header-user-icon"
          - else
            = image_tag "no-image.png", class: "header-user-icon"
          %ul.user-list
            = link_to user_path(current_user.id), class: "user-link" do
              %li.list マイページ
            = link_to  edit_user_path(current_user.id), class: "user-link" do
              %li.list 設定
            = link_to  users_sign_out_path, class: "user-link" do
              %li.list ログアウト
